<!DOCTYPE html>
<html>
<%- include('partials/_head', { title: 'rizzculator' }) %>

<body>
    <%- include('partials/_header') %>

    <div class="container">
        <form action="/result" method="POST">
            <div class="slider-row">
                <div class="slider-title">
                  <h3 class="d-lg-flex">Age</h3>
                </div>
                <div class="slider-div">
                  <input class="form-range" type="range" data-bs-theme="light" min="18" max="65" step="1" value="22" name="age" required title="Alter">
                  <h3 class="slider-value" id="ageValue"> </h3>
                </div>
              </div>

              <div class="slider-row">
                <div class="slider-title">
                  <h3 class="d-lg-flex">Income</h3>
                </div>
                <div class="slider-div">
                  <input class="form-range" type="range" data-bs-theme="light" min="5000" max="200000" value="75000" name="income" step="1000" required>
                  <h3 class="slider-value" id="incomeValue"> </h3>
                </div>
              </div>
              
              <div class="slider-row">
                <div class="slider-title">
                  <h3 class="d-lg-flex">Height</h3>
                </div>
                <div class="slider-div">
                  <input class="form-range" type="range" data-bs-theme="light" name="height" min="150" max="220" value="170" step="1" required>
                  <h3 class="slider-value" id="heightValue"> </h3>
                </div>
              </div>
              
              <div class="slider-row">
                <div class="slider-title">
                  <h3 class="d-lg-flex">Weight</h3>
                </div>
                <div class="slider-div">
                  <input class="form-range" type="range" name="weight" min="50" max="130" value="70" step="1" required>
                  <h3 class="slider-value" id="weightValue"></h3>
                </div>
              </div>
             
              
            <div class="row d-lg-flex justify-content-lg-start align-items-lg-center py-5">
                <div class="col-12 col-sm-12 col-lg-3 d-lg-flex justify-content-lg-center align-items-lg-center">
                    <h3 class="text-sm-start text-lg-center d-lg-flex">Body</h3>
                </div>
                <div class="selectable-image">
                    <label>
                        <input type="radio" name="physique" value="2" class="d-none" required>
                        <img src="images/1skinny.png"  class="img-fluid physique-img">
                    </label>
                </div>
                <div class="selectable-image">
                    <label>
                        <input type="radio" name="physique" value="3" class="d-none" required>
                        <img src="images/2normal.png"  class="img-fluid physique-img">
                    </label>
                </div>
                <div class="selectable-image">
                    <label>
                        <input type="radio" name="physique" value="4" class="d-none" required>
                        <img src="images/3trained.png"  class="img-fluid physique-img">
                    </label>
                </div>
                <div class="selectable-image">
                    <label>
                        <input type="radio" name="physique" value="1" class="d-none" required>
                        <img src="images/4obese.png"  class="img-fluid physique-img">
                    </label>
                </div>
            </div>

            <div class="row text-center">
                <div class="col"><input class="btn btn-danger" type="submit" value="Lets goo!"></div>
            </div>

        </form>
    </div>

    <%- include('partials/_scripts') %>
</body>

</html>
